* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .header {
  width: 100%;
  height: 1.2rem;
  background: #1f82d2;
  display: flex;
}

.wrapper .main {
  flex: 1;
  overflow: auto;
}

.wrapper .main .content {
  width: 100%;
  height: auto;
}

.wrapper .footer {
  width: 100%;
  height: 1.2rem;
  background: #ccc;
}

.header-b {
  width: 1.76rem;
  height: 1.12rem;
  text-align: center;
  line-height: 1.12rem;
  font-size: 0.4rem;
  color: #fff;
}

.header-input {
  flex: 1;
  width: 5.33333rem;
  height: 0.58667rem;
  margin-top: 0.29333rem;
  border-radius: 0.26667rem;
}

.header-p {
  width: 1.76rem;
  height: 1.12rem;
  text-align: center;
  line-height: 1.12rem;
  font-size: 0.4rem;
  color: #fff;
}

.header-p .icon-gengduo1 {
  font-size: 0.48rem;
}

.header-p .icon-user {
  font-size: 0.58667rem;
}

.icon {
  font-size: 0.8rem;
}

.content-top {
  width: 100%;
  height: 3.65333rem;
}

.content-top ul {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.content-top ul li {
  width: 24%;
  height: 1.86667rem;
  text-align: center;
  margin-top: 0.13333rem;
}

.content-jifen {
  width: 100%;
  height: 1.86667rem;
  margin-top: 0.8rem;
}

.content-jifen ul {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-jifen ul li {
  width: 50%;
  height: 100%;
  display: flex;
}

.content-jifen ul li div {
  width: 50%;
  height: 100%;
}

.content-jifen ul li img {
  width: 100%;
  height: 100%;
}

.content-jifen ul li p {
  text-align: center;
  margin-top: 0.26667rem;
}

.content-waimai {
  width: 100%;
  height: 4.8rem;
}

.content-waimai p {
  width: 100%;
  height: 0.93333rem;
  font-size: 0.53333rem;
}

.content-waimai ul {
  width: 100%;
  height: 3.33333rem;
  display: flex;
  justify-content: space-around;
}

.content-waimai ul li {
  width: 30%;
  height: 100%;
}

.content-waimai ul li:nth-child(1) img {
  width: 90%;
  height: 100%;
}

.content-waimai ul li:nth-child(2) img {
  width: 100%;
  height: 2.16rem;
}

.content-waimai ul li:nth-child(2) .yp {
  width: 100%;
  height: 0.4rem;
  font-size: 0.37333rem;
}

.content-waimai ul li:nth-child(2) .qian {
  font-size: 0.42667rem;
  color: red;
}

.content-waimai ul li:nth-child(3) img {
  width: 100%;
  height: 2.16rem;
}

.content-waimai ul li:nth-child(3) .yp {
  width: 100%;
  height: 0.4rem;
  font-size: 0.37333rem;
}

.content-waimai ul li:nth-child(3) .qian {
  font-size: 0.42667rem;
  color: red;
}

.content-kdj {
  width: 100%;
  height: 2.34667rem;
}

.content-kdj ul {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-kdj ul li {
  width: 50%;
  height: 100%;
}

.content-kdj ul li img {
  width: 100%;
  height: 100%;
}

.content-kdj ul li .kdj {
  width: 100%;
  height: 30%;
  font-size: 0.42667rem;
}

.span {
  font-size: 0.4rem;
  color: #ccc;
  margin-top: 0.53333rem;
}

.content-qianggo {
  width: 100%;
  height: 4.53333rem;
}

.content-qianggo div {
  width: 100%;
  height: 1.2rem;
  display: flex;
}

.content-qianggo div .span1 {
  width: 8rem;
  font-size: 0.53333rem;
  line-height: 1.2rem;
}

.content-qianggo div .span2 {
  font-size: 0.4rem;
  text-align: center;
  line-height: 1.2rem;
}

.content-qianggo ul {
  width: 100%;
  height: 3.30667rem;
  display: flex;
}

.content-qianggo ul li {
  width: 33%;
  height: 3.30667rem;
}

.content-qianggo ul li img {
  width: 100%;
  height: 2.26667rem;
}

.footer-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-ul li {
  width: 25%;
  height: 100%;
}

.footer-ul li p {
  width: 100%;
  height: 0.53333rem;
  text-align: center;
  line-height: 0.53333rem;
}

.footer-ul li .tubiao1 {
  width: 0.66667rem;
  height: 0.66667rem;
  margin-left: 0.85333rem;
}
